PORT=
MONGO_URI=
GOOGLE_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
YOUTUBE_API_KEY=
GCP_CREDENTIALS_JSON=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
FRONTEND_URLS = 
PYTHON_AGENT_URL=
